section {
    padding: 20px 0px;
}

section nav a {
    margin: 15px;
    border-radius: 55rem;
    border-style: solid;
    box-shadow: 0px 10px 10px #372b4c6e;
    color: rgba(0,0,0,.5);
}

section nav a {
    font-size: 1.3rem;
    font-weight: lighter;
    color: rgba(0,0,0,.5);
    margin: 10px 5px;
}

section nav a:hover {
    color: rgba(0,0,0,.7);
    font-size: 2.5rem;
}

#autor {
    margin-top: 80px;
    font-weight: lighter;
}
