.footer {
    margin:  50px;
}

.footer a {
    border-radius: 50rem;
    border-style: solid;
    box-shadow: 0px 10px 10px #372b4c6e;
    color: rgba(0,0,0,.5);
    font-size: 2.0rem;
    padding: 15px;
    margin: 10px;
}

.footer a:hover{
    background-color: rgba(26, 25, 25, 0.1);
}


